{% extends "base.html" %} {% block main %}
<form class="form-horizontal" role="form">
    <div class="form-group">
        <label for="inputtitle" class="col-sm-3 control-label">Title</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="inputtitle" placeholder="title">
        </div>
    </div>
    <div class="form-group tags">
        <label for="inputtitle" class="col-sm-3 control-label">Had Tags</label>
        <div class="col-sm-9 normaltag">
            <span class="label active" title="select this tag">Info1</span>
            <span class="label">Info2</span>
            <span class="label">Info3</span>
            <span class="label">Info4</span>
            <span class="label">Info5</span>
            <span class="label">Info1</span>
            <span class="label">Info2</span>
            <span class="label">Info3</span>
            <span class="label">Info4</span>
            <span class="label">Info5</span>
            <span class="label">Info1</span>
            <span class="label">Info2</span>
            <span class="label">Info3</span>
            <span class="label">Info4</span>
            <span class="label">Info5</span>
            <span class="label">Info1</span>
            <span class="label">Info2</span>
            <span class="label">Info3</span>
            <span class="label">Info4</span>
            <span class="label">Info5</span>
            <span class="label" data-toggle="modal" data-target="#addtagmodel"><span class="glyphicon glyphicon-plus"></span></span>
        </div>
    </div>
    <div class="form-group tags">
        <label for="inputtitle" class="col-sm-3 control-label">Selected Tags</label>
        <div class="col-sm-9">
            <span class="label label-success" title="remove this tag">Info3</span>
            <span class="label label-success">Info4</span>
            <span class="label label-success">Info5</span>
        </div>
    </div>
    <div class="form-group">
        <label for="textareaanswer" class="col-sm-3 control-label">Answer</label>
        <div class="col-sm-9">
            <ul class="nav nav-tabs" id="answertab">
                <li><a href="#writecontent">Write</a></li>
                <li><a href="#previewcontent">Preview</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade" id="writecontent">
                    <textarea class="form-control" rows="6" id="textareaanswer" placeholder="answer"></textarea>
                </div>
                <div class="tab-pane fade" id="previewcontent">
                    previewing....
                </div>
            </div>

        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-default">save</button>
            <button type="submit" class="btn btn-default">save && close</button>
        </div>
    </div>
    <!--添加tag的模态框-->
    <div id="addtagmodel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="saveModelData">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    $(function(){
        $('#answertab a:first').tab('show')
        $('#answertab a').click(function (e) {
            e.preventDefault()
            $(this).tab('show')
        })
        $("#saveModelData").click(function(){
            alert("ok");
            $('#addtagmodel').modal('hide');
        })
    })
</script> {% endblock %}